.scanner {
    width: 100vw;

    z-index: 2;
    &-container {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        display: none;
    }

    &-button {
      position: absolute;
      background-color: rgba(101, 101, 101, 0.42);
      border-radius: 10px;
      padding: 10px;
      z-index: 3;

      img {
          width: 30px;
          height: 30px;
      }
    }

    &-flashlight {
      left: 25px;
      top: calc(25px + 30px + 10px + 10px * 2);
    }

    &-exit {
      left: 25px;
      top: 25px;
    }
}


// Base styles for .found-product modal
.found-product {
    display: none; // Hidden by default
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 6;
  
    &.open {
      display: block; // Show when .open is added
    }
  
    &__names {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
  
      &__name {
        font-size: 1.2em;
        font-weight: bold;
      }
  
      &__producer {
        font-size: 1em;
        color: gray;
      }
    }
  
    &__amount {
      font-size: 1em;
      margin-bottom: 15px;
    }
  
    &__add {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  
    &__submit {
      display: inline-block;
      padding: 5px 15px;
      background-color: #4CAF50;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
}
  

.not-found-product {
    display: none; // Hidden by default
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 6;
  
    &.open {
      display: block; // Show when .open is added
    }
  
    &__text {
        font-weight: 20;
        font-weight: 600;
    }
  
    &__create {
      display: inline-block;
      padding: 5px 15px;
      background-color: #4CAF50;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
}
  
  