.products-option {
    margin-top: 30px;
	&__title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
	}
	&__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
	}
	&__block {
        background-color: rgb(147, 58, 83);
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        transition: all .3s;

        &:hover, &:focus, &:active {
            background-color: rgba(147, 58, 83, 0.805);
        }
	}
}
