{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scanner.min.css' %}">
{% endblock %}

{% block content %}

{% include 'scanner.html' %}

{% include 'search.html' %}

{% include 'product.html' %}


{% endblock content %}

{% block script %}
<script src="https://unpkg.com/@zxing/library@latest"></script>
<script src="{% static 'js/config.js' %}" type="module"></script>
<script src="{% static 'js/fetchProduct.js' %}" type="module"></script>
<script src="{% static 'js/scanner.js' %}" type="module"></script>
<script src="{% static 'js/modal.js' %}" type="module"></script>
<script src="{% static 'js/utils.js' %}" type="module"></script>
<script src="{% static 'js/productManager.js' %}" type="module"></script>
<script src="{% static 'js/app.js' %}" type="module"></script>
{% endblock script %}