<div class="found-product">
    <div class="found-product__names">
        <div class="found-product__name"></div>
        <div class="found-product__producer"></div>
    </div>
    <div class="found-product__amount"></div>
    <div class="found-product__add" id="addAmountButton">0</div>
    <div class="found-product__submit" id="addSaleButton">OK</div>
</div>

<div class="not-found-product">
    <div class="not-found-product__text">Товар не знайдено</div>
    <div class="not-found-product__barcode"></div>
    <div class="not-found-product__buttons" style="display: flex; gap: 20px;">
        <div class="not-found-product__create" id="AddProductButton">Добавити</div>
        <div class="not-found-product__create" id="ContinueScanningButton">Продовжити сканування</div>
    </div>
</div>

<div class="modal-overlay"></div>

<div class="modal-messages container position-fixed top-0 mt-4"></div>
