{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/scanner.min.css' %}">
{% endblock style %}

<div class="scanner-container">
    <video id="video" class="scanner" autoplay></video>
    <canvas id="canvasOverlay"></canvas>
    <button class="scanner-flashlight" onclick="toggleFlash()">
        <img src="{% static 'img/flashlight.png' %}" alt="">
    </button>
</div>

<div class="found-product">
    <div class="found-product__names">
        <div class="found-product__name">10ml - Вишня ментол</div>
        <div class="found-product__producer">Chaser</div>
    </div>
    <div class="found-product__amount">10</div>
    <div class="found-product__add" onclick="addAmount()">0</div>
    <div class="found-product__submit" onclick="addSale()">OK</div>
</div>

<div class="not-found-product">
    <div class="not-found-product__text">Товар не знайдено</div>
    <div class="not-found-product__create" onclick="redirectToCreateProduct()">Добавити</div>
</div>

<div class="modal-overlay"></div>

<script src="https://unpkg.com/@zxing/library@latest"></script>
<script src="{% static 'js/scanner.js' %}"></script>