{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scanner.min.css' %}">
{% endblock %}

{% block content %}

<div class="scanner-container">
    <video id="video" class="scanner" autoplay></video>
    <canvas id="canvasOverlay"></canvas>
    <button class="scanner-button scanner-flashlight" id="scannerFlashButton">
        <img src="{% static 'img/flashlight.png' %}" alt="">
    </button>
    <button class="scanner-button scanner-exit" id="scannerExitButton">
        <img src="{% static 'img/exit.png' %}" alt="">
    </button>
</div>

{% endblock content %}

{% block script %}
<script src="https://unpkg.com/@zxing/library@latest"></script>
<script src="{% static 'js/fetchProduct.js' %}" type="module"></script>
<script src="{% static 'js/scanner.js' %}" type="module"></script>
<script src="{% static 'js/modal.js' %}" type="module"></script>
<script src="{% static 'js/utils.js' %}" type="module"></script>
<script src="{% static 'js/app.js' %}" type="module"></script>
{% endblock script %}

